* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

/*start nav*/

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding-top: 1.4em;
	padding-bottom: 1.4em;
}

nav ul li a {
	line-height: 2em;
	padding: .1em 1.4em;
	text-decoration: none;
	font-size: 1.5em;
	color: #dd3333;
	text-transform: uppercase;
	font-weight: bold;
	}

nav ul {
	position: fixed;
	z-index: 1;
	margin: 0;
	padding: 0% 0% 0% 70%;
	background-color: #ededed;
	width: 100%;
}

nav a:hover {
	text-decoration: underline;
	color: #000000;
}

#logo {
	position: fixed;
	top: 3%;
	bottom: 3%;
	left: 3%;	
}

/*end nav*/


/*start general items*/

.button {
	background-color: rgb(221, 57, 54);
	color: white;
	font-size: 1.5em;
	font-weight: 100;
	text-shadow: 0px 2px rgba(0,0,0,.3);
	border: 2px;
    border-radius: 25px;
	padding: .5em 1.5em .5em 1.5em;
	text-decoration: none;
}

.button a {
	color: white;
	text-decoration: none;
}

.button:hover {
	background-color: rgb(191, 45, 45);
	transition: 1s;
	cursor: pointer;
}

.red {
	background-color: #ff3f3f;
}

.green {
	background-color: #1ed760;
}

.blue {
	background-color: #2655FF;
}

.first {
	padding-top: 5.6em;
}

.center {
	text-align: center;
}

.table { 
	display: table; 
	width: 100%;
}

.row { 
	display: table-row;
}

.cell { 
	display: table-cell;
	vertical-align: top;
}

/*end general items*/

/* start home page stuff*/

#home-first {
	padding-top: 5.6em;
}

#home-first h1 {
	padding-bottom: 1em;
}

#cell-right {
	padding: 3em 2em 0 3em;
}

#cell-right h3 {
	padding-bottom: 1em;	
}

#cell-right p {
	line-height: 1.5em;
	padding-bottom: 2em;
}

.table h1 {
	position: relative;
	font-weight: 300;
	font-size: 5em;
}

#hero {
	padding-right: 2em;
}

#home-second {
	width: 100%;
	padding-top: 2em;
	text-align: center;
	
}

#home-second h3 {
	font-weight: 300;
	font-size: 3em;
	padding: 0;
	margin: 0 0 .5em 0;
}

#home-second p {
	font-size: 1.5em;
	font-weight: 300;
	padding: 0 0 .5em 0;
	margin: 0;
}

#featured-on {
	padding-top: 2em;
	background-color: white;
	text-align: center;
	width: 100%;
}

#featured-on h3 {
	color: #000000;
	font-weight: 300;
	font-size: 3em;
	padding: 0;
	margin: 0 0 .5em 0;
}

#table-features {
	padding:0 2em 2em 2em;
}

#table-features .cell {
	vertical-align: middle;
}

#index-button-last {
	padding: 2em 2em 2em 2em;
	text-align: center;
}

/*end home page stuff*/

/*start second page stuff*/

#email-first h1 {
	font-weight: 300;
	font-size: 3em;
	margin-bottom: 1.5em;
	padding-bottom: 0;
}

#email-first h2 {
	font-weight: 300;
	font-size: 3.5em;
	padding-bottom: 0em;
	margin-bottom: 1em;
	line-height: 0;
}

#email-first h3 {
	font-weight:300;
	font-size: 2em;
	padding-bottom: .5em;
}

#email-first {
	padding-bottom: 2em;
}

#video {
	padding-top: 2em;
	padding-bottom: 2em;
}

.table-left {
	padding-left: 6em;
	padding-top: 3em;
}

#features h2{
	margin: 0;
	padding: 1em 0 0 0;
	font-weight:300;
	font-size: 2em;
}

.lightbox {
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	height: 50%;
	width: 40%;
	top: 65em;
	left: 30%;
	display: none;
	text-align: center;
	padding-bottom: 3em;
	font-family: 'Open Sans', sans-serif;
	color: white;

}

.lightbox:target {
	display: block;
}

#lightboxing {
	text-align: center;
	padding-top: 2em;
	font-weight: 300;
	text-decoration: none;
}

.lightbox h2 {
	margin: 0;
	padding: 0 0 .5em 0;
	font-weight: 300;
	font-size: 2em;
	text-decoration: none;
	color: white;
	
}

.lightbox h3 {
	padding: 0 0 .5em 0;
	color: white;
	text-decoration: none;
}

.lightbox ul li {
	list-style-type: none;
	padding: 0 0 1.2em 0;
	text-align: center;
	width: 100%;
	color: white;
	text-decoration: none;
}
